<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Design</title>
<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
<div class = "container">


	<div class = "header" > <h1> Movieflix </h1>
		<div class = "menu">


        	<ul>
            <li><div class="dropdown">
                 <span class="dropbtn">Home</span>
                 <div class="dropdown-content">
                 <a href="#">Movies</a>
                 <a href="#">Tv series</a>
                 </div>
                 </div></li>
            <li><a href="Sign-Up.html">Register</a></li>
            <li><a href="Sign_In.html">Log In</a></li>
            <input type="text" name="search" placeholder="Search..">
            </ul>
            
		</div>

	</div>
    
<div class = "bdy">
<div class="row">
<div class = "heading">Recently Watch </div>
<a href='movies.html'><img src="img/recent.jpg" width="200px" height="inherit" alt="movie"/> </a>
<img src="img/recent2.jpg" width="200px" height="inherit" alt="movie"/>
<img src="img/recent3.jpg" width="200px" height="inherit" alt="movie"/>
<img src="img/recent4.jpg" width="200px" height="inherit" alt="movie"/>
<img src="img/download (5).jpeg" width="200px" height="inherit" alt="movie"/>
 </div>
<div class="row">
<div class = "heading">Popular on MovieFlix </div>
<img src="img/download.jpeg" width="200px" height="inherit" alt="movie"/>
<img src="img/popular1.jpg" width="200px" height="inherit" alt="movie"/>
<img src="img/popular2.jpg" width="200px" height="inherit" alt="movie"/>
<img src="img/popular3.jpg" width="200px" height="inherit" alt="movie"/>
<img src="img/popular4.jpg" width="200px" height="inherit" alt="movie"/>

</div>

<div class="row">
<div class = "heading">Favorites </div>
<img src="img/fav1.jpg" width="200px" height="inherit" alt="movie"/>
<img src="img/fav2.jpg" width="200px" height="inherit" alt="movie"/>
<img src="img/fav3.jpg" width="200px" height="inherit" alt="movie"/>
<img src="img/fav4.jpg" width="200px" height="inherit" alt="movie"/>
<img src="img/images (4).jpeg" width="200px" height="inherit" alt="movie"/>

</div>
<div class="row"> 
<div class = "heading">My List </div>
<img src="img/mylist1.jpg" width="200px" height="inherit" alt="movie"/>
<img src="img/mylist2.jpg" width="200px" height="inherit" alt="movie"/>
<img src="img/mylist3.jpg" width="200px" height="inherit" alt="movie"/>
<img src="img/mylist4.jpg" width="200px" height="inherit" alt="movie"/>
<img src="img/download (2).jpeg" width="200px" height="inherit" alt="movie"/>
</div>
</div>

<div class = "footer">
	<div class="label">
    Copyright &copy; 2016 Abhay Deshmukh. All rights reserved.
    </div>

</div>
</div>
</body>
</html>
