<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sign Up</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div class = "container">
	<div class = "header" > <h1> Movieflix </h1>
		<div class = "menu">
        	<ul>
                
            <li><a href="index.html">Home</a></li>
            <li><a href="Sign-Up.html">Register</a></li>
            <li><a href="Sign_In.html">Log In</a></li>
            <input type="text" name="search" placeholder="Search..">
            </ul>
            
		</div>
	</div>
<div class="body">

<div class="img">
  <a target="_blank" href="img/recent.jpg">
    <img src="img/recent.jpg" alt="Forest" width="200" height="200" align="center">
  </a>
  <br>
  <p style="margin-left: 2.5em;padding: 0 7em 2em 0;border-width: 2px; border-color: black; border-style:solid;"> </p>
  <div class="desc"> <input type="text" name="comment" placeholder="Write your comments here..."></div>
</div>

</div>

<div class = "footer">
	<div class="label">
    Copyright &copy; 2016 Abhay Deshmukh. All rights reserved.
    </div>	
</div>
</div>
</body>
</html>
