<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sign Up</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div class = "container">
	<div class = "header" > <h1> Movieflix </h1>
		<div class = "menu">
        	<ul>
                
            <li><a href="index.html">Home</a></li>
            <li><a href="Sign-Up.html">Register</a></li>
            <li><a href="Sign_In.html">Log In</a></li>
            <input type="text" name="search" placeholder="Search..">
            </ul>
            
		</div>
	</div>
    
<div class = "body">

<form class="frm2">
<h1>Register Now</h1>
Full Name : <br />
<input type="text" name="fname" autofocus="autofocus" placeholder="Full Name"/><br /><br />
User Name : <br />
<input type="text" name="uname" placeholder="User Name" /><br /><br />
Email :<br />
<input type="email" name="email" placeholder="Email" /><br /><br />
Password:<br />
<input type="password" name="ps" placeholder="Password"/><br /><br />
Mobile:<br />
<input type="tel" name="num" max="10" placeholder="Mobile"/><br /><br />
<br />
<input type="submit" value="Sign Up" class = "btn"/><br /><br />
</form>
</div>

<div class = "footer">
	<div class="label">
    Copyright &copy; 2016 Abhay Deshmukh. All rights reserved.
    </div>	
</div>
</div>
</body>
</html>
