<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sign In</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<style>
a{
text-decoration:none;
color:white;
}
a:hover{
text-decoration:underline;	
}
</style>
</head>

<body>
<div class = "container">
	<div class = "header" > <h1> Movieflix </h1>
		<div class = "menu">
        	<ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="Sign-Up.html">Register</a></li>
            <li><a href="Sign_In.html">Log In</a></li>
            <input type="text" name="search" placeholder="Search..">
            </ul>
            
		</div>
	</div>
    
<div class = "body">

<form class="frm">
<h2>Sign in with your movie flix account</h2>
User Name : <br />
<input type="text" name="uname" placeholder="UserName" /><br /><br />
Password:<br />
<input type="password" name="ps" placeholder="Password" /><br /><br />
<input type ="checkbox" name = "remember"/> Remember Me<br /><br />
<a href="#">Forgot your password?</a><br /><br />
<input type ="submit" value="Sign in" class = "btn"/><br /><br />
New to Movieflix?<a href="Sign-Up.html">Sign Up now</a>
</form>
</div>

<div class = "footer">
	<div class="label">
       Copyright &copy; 2016 Abhay Deshmukh. All rights reserved.
    </div>	
</div>
</div>



</body>
</html>
